<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card ">
            <div class="card-header card-header-primary card-header-text">
              <div class="card-text">
                <h4 class="card-title">Ver/Editar Ficha Clinica</h4>
              </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-sm-6">
                        <b>Motivo de la consulta:</b> <p> {{fichaclinicaedit.motivoConsulta}}</p>
                    </div>
                    <div class="col-sm-6">
                        <b>Diagnostico:</b> <p> {{fichaclinicaedit.diagnostico}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">         
                    <div class="col-sm-6">
                        <form method="#" action="#" >
                            <mat-form-field class="example-full-width">
                                <p>Observación <small style="color: gray;">*(unico campo modificable)</small></p>
                                <input matInput name="observacion" type="text" [(ngModel)]="fichaclinicaedit.observacion">
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <b>Subcategoria(Producto):</b> <p>{{fichaclinicaedit.idTipoProducto.descripcion}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Fisioterapeuta encargado:</b> <p> {{fichaclinicaedit.idEmpleado.nombre}}</p>
                    </div>
                    <div class="col-sm-6">
                        <b>Cliente:</b> <p> {{fichaclinicaedit.idCliente.nombre}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Local: </b> <p>{{fichaclinicaedit.idLocal.nombre}}</p>
                    </div>
                    <div class="col-sm-6">
                      <b>Fecha y hora: </b> <p>{{fichaclinicaedit.fechaHora}}</p>
                  </div>
                </div>
              </div>
            <!-- div card footer with items aligned to right -->
            <div class="card-footer ">
              <div class="row">
                <div class="col-md-12">

                  <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='editar()' >Modificar</button>
                  <button mat-raised-button class="btn btn-fill btn-secondary mx-2" [routerLink]="['/ficha_clinica']">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <p>ficha-clinica-editar works!</p> -->
<!-- <p>Ingrese los nuevos datos de la ficha</p>
<div>  
    Motivo de la consulta <input [(ngModel)]="fichaclinicaedit.motivoConsulta">
    <br>
    Diagnostico <input [(ngModel)]="fichaclinicaedit.diagnostico">
    <br>
    Observacion [SOLO ESTE SE PUEDE EDITAR] <input [(ngModel)]="fichaclinicaedit.observacion">
    <br>
    Fisioterapeuta encargado:
    <select [(ngModel)]="fichaclinicaedit.idEmpleado.idPersona">
        <option *ngFor="let e of empleados" [value]="e.idPersona">{{e.nombre}}</option>
    </select>
    <br>
    Cliente:
    <select [(ngModel)]="fichaclinicaedit.idCliente.idPersona">
        <option *ngFor="let cl of clientes" [value]="cl.idPersona">{{cl.nombre}}</option>
    </select>
    <br>
    Producto(subcategoria):
    <select [(ngModel)]="fichaclinicaedit.idTipoProducto.idTipoProducto">
        <option *ngFor="let sc of subcategorias" [value]="sc.idTipoProducto">{{sc.descripcion}}</option>
    </select>
    <br>
    Locales:
    <select [(ngModel)]="fichaclinicaedit.idLocal.idLocal">
        <option *ngFor="let l of locales" [value]="l.idLocal">{{l.nombre}}</option>
    </select>
    <br>
     <button  (click)="editar()">Modificar</button>
    <br/>
     {{mensaje}}
</div> -->