<div>
    <p>Fecha <input [(ngModel)]="dateFilter" type="date" name="" id=""></p>
    <p *ngIf="fisioterapeutas">Empleado 
        <select  [(ngModel)]="idEmpleado" name="" id="">
            <option *ngFor="let f of fisioterapeutas.lista" value="{{f.idPersona}}">{{f.usuarioLogin}}</option>
        </select>
    </p>
    <p>
        <input type="checkbox" [(ngModel)]="showAll" selected name="" id="">Mostrar ya Reservados
    </p>
    <button (click)="buscar()">
        Buscar
    </button>
</div>
<hr>
<div>
    <p>
        Cliente 
        <select [(ngModel)]="idCliente" >
            <ng-container *ngFor="let c of clientes.lista">
                <option *ngIf="!c.usuarioLogin"  value="{{c.idPersona}}">{{c.nombre}}</option>
            </ng-container>
            
        </select>
    </p>
    <p>
        Observacion <input [(ngModel)]  ="observacion" type="text" name="" id="">
    </p>
    <p>{{mensaje}}</p>
    <button (click)="agregarReserva()"> Agregar Reserva</button>
    <table border="1" *ngIf="reservas">
        <tr>
            <td>HoraInicio</td>
            <td>HoraFin</td>
            <td>Cliente</td>
            <td>Seleccionar</td>
        </tr>
        <tr *ngFor="let r of reservas">
            <td>{{ r.horaInicio.split(" ")[1] ? r.horaInicio.split(" ")[1] : r.horaInicio }}</td>
            <td>{{ r.horaFin.split(" ")[1] ? r.horaFin.split(" ")[1] : r.horaFin }}</td>
            <td>{{r.idCliente ? r.idCliente.nombre :""}}</td>
            <td *ngIf="!r.idCliente"> <input  type="radio" name="horario" [value]="r.horaInicioCadena" (change)="choose(r.horaInicioCadena)" ></td>
            <td></td>
        </tr>
    </table>
    
</div>
