<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card ">
            <div class="card-header card-header-primary card-header-text">
              <div class="card-text">
                <h4 class="card-title">Editar Paciente</h4>
              </div>
            </div>
            <div class="card-body ">
              <form method="#" action="#" >
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="nombre" placeholder="Nombre" type="text" [(ngModel)]="paciente.nombre">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="apellido" placeholder="Apellido" type="text" [(ngModel)]="paciente.apellido">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="telefono" placeholder="Teléfono" type="text" [(ngModel)]="paciente.telefono">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="email" placeholder="Email" type="email" [(ngModel)]="paciente.email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="ruc" placeholder="RUC" type="text" [(ngModel)]="paciente.ruc">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="cedula" placeholder="Cédula" type="number" [(ngModel)]="paciente.cedula">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field >
                      <input matInput name="fechaNacimiento" [matDatepicker]="picker" placeholder="Fecha de nacimiento" (click)="picker.open()" [(ngModel)]="paciente.fechaNacimiento">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="tipoPersona" placeholder="Tipo Persona" type="text" [(ngModel)]="paciente.tipoPersona">
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
            <!-- div card footer with items aligned to right -->
            <div class="card-footer ">
              <div class="row">
                <div class="col-md-12">

                  <button mat-raised-button class="btn btn-fill btn-primary mx-2" (click)='createPaciente()' >Guardar</button>
                  <button mat-raised-button class="btn btn-fill btn-secondary mx-2" [routerLink]="['/paciente']">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  