<div class="main-content">
    <div class="container-fluid">
      <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body ">
                        <h2>Sistemas de Seguimientos de Pacientes </h2>
                        <a routerLink="/reserva"><h4 class="text-left">Ir a Reserva </h4></a>
                        <a routerLink="/ficha_clinica"><h4 class="text-left">Ir a Clinicas </h4></a>
                        <a routerLink="/servicio"><h4 class="text-left">Ir a Servicios </h4></a>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>