<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>subcategoria works!</p>
<div *ngIf="subcategorias.length>0">
    <table border="1">
        <tr>
            <td>Id</td>
            <td>Descripcion</td>
            <td>Categoria</td>
        </tr>
        <tr *ngFor="let sc of subcategorias">
            <td>{{sc.idTipoProducto}}</td>
            <td>{{sc.descripcion}}</td>
            <td>({{sc.idCategoria.idCategoria}}),{{sc.idCategoria.descripcion}}</td>
            <td><a (click)="edit(sc)">editar</a></td>
        </tr>
    </table>
</div>
<div>
  <a routerLink="/nuevasubcategoria">Agregar Subcategoria</a>  
</div>
<div>
  <a routerLink="/borrarsubcategoria">Eliminar Subcategoria</a>  
</div>