
<div>

  <div>
    <button  (click)="getByProdutType()">
      <p>Obtener Por id Tipo de Producto</p>
    </button>
    <button (click)="getByName()">
      <p>Obtener Por caracter</p>
    </button>
    <button (click)="getProductByProductType()">
      <p>Obtener Producto por  idTipoProducto</p>
    </button>
    <button (click)="getPriceByIdPresentacionProducto()">
      <p>Obtener el Precio de un Presentacion</p>
    </button>

    <button>
      <a routerLink="/agregarpresentacionProducto">Crear</a>
    </button>
    
    <button (click)="deletePresentacionProducto()">
      <p>Eliminar</p>
    </button>
    <button>
      <a routerLink="/editarpresentacionProducto"> Actualizar</a>
    </button>
    
    

  </div>
</div>
  